.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        padding: 1.8rem 1em 120px 1em;
        color: var(--text-primary);
    }

    @media (max-width: 768px) {
        ul {
            flex-wrap: wrap;
            text-align: center;
        }
    }

}