.project-general-info {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    gap: 0.8em;
    padding: 1em;
    background-color: var(--bg-card);
    .data {
        font-size: 0.9rem;
    }
}
.last-movements {
    border: 1px solid var(--neutral);
    border-radius: var(--border-radius);
    gap: 0.8em;
    padding: 1em;

    &::before {
        content: "Últimos movimientos";
        padding: 0 10px;
        font-weight: 700;
        color: var(--neutral);
    }

    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 16px;

        li {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dashed var(--neutral);
            &:last-child {
                border-bottom: none;
            }
            & span:last-child {
                min-width: fit-content;
            }
        }
    }
}
.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--bg-card);
            border: 1px solid var(--border);
            border-radius: var(--border-radius);
            margin-bottom: 16px;
            .task {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
